/* Base scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(100, 116, 139, 0.3); /* slate-500 */
  border-radius: 9999px;
  transition: background 0.2s ease;
}

/* Hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(59, 130, 246, 0.6); /* blue-500 */
}

/* Dark mode */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.25); /* slate-400 */
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(96, 165, 250, 0.7); /* blue-400 */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100,116,139,0.3) transparent;
}

.dark .custom-scrollbar {
  scrollbar-color: rgba(148,163,184,0.3) transparent;
}


.custom-scrollbar::-webkit-scrollbar-thumb {
  opacity: 0;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}


@keyframes ad-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-ad-scroll {
  animation: ad-scroll 40s linear infinite;
}
